.filter-search {
  margin-top: 40px;
}
.filter-search input,
.filter-company-select {
  background-color: transparent;
  border: 1px solid rgb(226, 201, 201);
  outline: none;
  border-radius: 5px;
}
.filter-category h4,
.filter-company h4,
.filter-colors h4,
.filter-price h4 {
  text-align: start;
  margin: 15px 0px;
  font-size: 18px;
  color: rgb(59, 56, 56);
}

.filter-category button {
  text-align: start;
  margin-bottom: 10px;
}

.category-name {
  display: flex;
  align-items: left;
  flex-direction: column;
}
.filter-color-style {
  display: flex;
  gap: 0px;
}

.filter-clear button {
  margin-top: 30px;
  /* background-color: rgb(193, 161, 243); */
  background-color: rgb(245, 86, 133);
  color: white;
  outline: none;
  width: 60%;
  padding: 12px 0px;
  font-weight: 500;
  border-radius: 2px;
}

/* .filter-company-select button {
display: flex;
} */
