.sorting-section{
    display: flex;
    justify-content: space-between;
  margin:30px 0px;

}

.sort-btn{
 font-size: 20px;
 margin-left: 15px;
 color: rgb(236, 22, 122);
 background-color: rgb(221, 211, 210);
 padding: 10px;
}
.active{
background-color: black;
color: white;
}


.sort-selection  select{
  background-color: white;
  border: 1px solid rgb(214, 188, 210);
  outline: none;
}